## Series Demo

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 新增 Create

In [2]:
obj = Series([4, 7, -5, 3], dtype=np.int32)
obj

0    4
1    7
2   -5
3    3
dtype: int32

In [3]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [4]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [5]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 查找 Read

In [6]:
obj[1], obj2['a']

(7, -5)

In [7]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [8]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2[1:3]    # [1, 3)

b    7
a   -5
dtype: int64

In [10]:
obj2['b':'c']    # []

b    7
a   -5
c    3
dtype: int64

In [11]:
obj

0    4
1    7
2   -5
3    3
dtype: int32

In [12]:
obj[1:3]

1    7
2   -5
dtype: int32

In [13]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [15]:
obj2.values

array([ 4,  7, -5,  3])

### 修改 Update

In [16]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2[['a', 'b', 'c']] = [1, 2, 3]
obj2

d    6
b    2
a    1
c    3
dtype: int64

In [18]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [19]:
obj

0    4
1    7
2   -5
3    3
dtype: int32

In [20]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int32

### 删除 Delete

In [21]:
del obj2['a']

In [22]:
obj2.drop('c')    # drop操作返回新的对象，原对象不变

d    6
b    2
dtype: int64

In [23]:
obj2

d    6
b    2
c    3
dtype: int64

In [24]:
obj2.drop(['b', 'd'])

c    3
dtype: int64

In [25]:
obj2

d    6
b    2
c    3
dtype: int64

### 运算

In [26]:
'b' in obj2

True

In [27]:
'e' in obj2

False

In [28]:
obj2

d    6
b    2
c    3
dtype: int64

In [29]:
obj2 > 4

d     True
b    False
c    False
dtype: bool

In [30]:
obj2[obj2 > 4]

d    6
dtype: int64

In [31]:
obj2 * 2

d    12
b     4
c     6
dtype: int64

In [32]:
np.exp(obj2)

d    403.428793
b      7.389056
c     20.085537
dtype: float64

In [33]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [34]:
pd.isnull(obj4)

state
California     True
Ohio          False
Oregon        False
Texas         False
Name: population, dtype: bool

In [35]:
pd.notnull(obj4)

state
California    False
Ohio           True
Oregon         True
Texas          True
Name: population, dtype: bool

In [36]:
obj4.isnull()

state
California     True
Ohio          False
Oregon        False
Texas         False
Name: population, dtype: bool

In [37]:
obj4.notnull()

state
California    False
Ohio           True
Oregon         True
Texas          True
Name: population, dtype: bool

In [38]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [39]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [40]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64